(
    height: 800,
    width: 800,
    tile_size: 16,
    wall_tile_h: (16, 12),
    wall_tile_v_right: (16, 128),
    wall_tile_v_left: (0, 128),
    floor_tile: (16, 64),
    max_room_size: 10,
    min_room_size: 7,
    max_rooms: 10,
    min_rooms: 10,
)
